
body {
	margin: 0;
}
header {
	font-family: 'Yusei Magic', sans-serif;
}
footer {
	padding: 3rem 0;
	background-color: #ff82b2; 
	color: #fff;
	margin-top: auto;
}
footer p {
	margin-top: 1rem;
}
.footer_contents {
	width: 400px;
}
.fa-twitter {
	color: #fff;
}
.twitter_icon_wrapper {
}

main {
	justify-content: center;
	box-sizing: border-box;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1000px;
}

.agreement_wrap, .privacy_wrap {
	width: 80%;
	background-color: #f0f0f0;
	padding: 1rem;
	letter-spacing: 0.1rem;
	color: #444;
	font-family: 'Noto Serif JP', serif;
}
.agreement_wrap h1, .privacy_wrap h1 {
	border-bottom: 4px solid pink;
	margin-bottom: 1rem;
}
.agreement_wrap h2, .privacy_wrap h2{
	background-color: #fff;
	margin-top: 4rem;
}

aside {
	/*
	display: none;
	*/
}

#can {
	/*
	border: 1px solid #a73;
	*/
	width: 80%;
	height: 80%;
}

.height_center {
	display: flex;
	margin: 0.4rem;
}
input[type=range] {
	margin-right: 1rem;
}

#save_chara_btn {
	width: 10rem;
	font-size: 1.8rem;
	margin: 1rem;
	border: 2px solid #555;
	border-radius: 5px;
	background: #fff;
}
#save_chara_btn:hover {
	color: #fff;
	background: #000;
}


.slider {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	background: #8acaff;
	height: 1rem;
	/*
	width: 100%;
	*/
	border-radius: 10px;
	border: 3px solid #dff1ff;
	outline: 0;
}

.header-line {
	width: 100%;
	height: 0.5rem;
	background-color: #ff82b2; 
	margin-bottom: 0.5rem;
}

.header_imgs > img {
	height: 100px;
}

.sticky {
	position: sticky;
	top: 0;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0.5rem;
}

.fs14 {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #333;
}

.question_form {
	width: 100%;
}

h1 {
	margin: 0;
}
h2 {
	margin: 0.5rem;
}
p {
	margin: 0;
}

.left img , .right img {
	width: 400px;
	height: auto;
}
.select_mode {
	margin-bottom: 2rem;
	flex-wrap: wrap;
}
.select_mode_btn {
	margin: 0 4rem;
	border-radius: 100vh;
	color: #555;
	border-style: none;
	border: 3px solid #555;
	background-color: #fff;
}
.select_mode_btn > h2 {
	margin: 0 2rem;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.between {
	align-items: space-between;
	justify-content: space-between;
}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

#canvas_wrapper {
	margin: 1rem;
	/* display: none; */
}

.params {
	margin: 1rem;
	margin-left: 0;
}

.parts {
	border: 1px solid #000;
	margin-bottom: 1rem;
	padding: 0.5rem;
	background-color: orange;
}

fieldset {
	margin-bottom: 1rem;
}

.question_wrapper {
	/*
	border: 1px solid orange;
	*/
	margin: 1rem;
	max-width: 800px;
}
.answers_wrapper {
	width: 40rem;
	flex-wrap: wrap;
	/*
	padding: 0.5rem 0.5rem 0 0.5rem;
	*/
	margin-bottom: 0.5rem;
}

.answer_btn_wrapper {
	padding: 0.5rem;
	width: 50%;
	box-sizing: border-box;
}
.answer_btn {
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	font-weight: bold;
}

.question_title {
	width: 100%;
}
