body {
	margin: 0;
}
aside {
	/*
	display: none;
	*/
}
#can {
	/*
	border: 1px solid #a73;
	*/
}

header {
	font-family: 'Yusei Magic', sans-serif;
}
.header-line {
	width: 100%;
	height: 0.5rem;
	background-color: #ff82b2; 
	margin-bottom: 0.5rem;
}
footer {
	padding: 1rem;
	background-color: #ff82b2; 
	color: #fff;
}

.header_imgs > img {
	height: 100px;
}

.sticky {
	position: sticky;
	top: 0;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0.5rem;
}

.fs14 {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #333;
}

.question_form {
	width: 100%;
}

h1 {
	margin: 0;
}
h2 {
	margin: 0.5rem;
}
p {
	margin: 0;
}

main {
	justify-content: center;
}

.left img , .right img {
	width: 400px;
	height: auto;
}
.select_mode {
	margin-bottom: 2rem;
	width: 80%;
}
.select_mode_btn {
	margin: 0 4rem;
	border-radius: 100vh;
	color: #555;
	border-style: none;
	border: 3px solid #555;
	background-color: #fff;
}
.select_mode_btn > h2 {
	margin: 0 2rem;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.between {
	align-items: space-between;
	justify-content: space-between;
}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

#canvas_wrapper {
	margin: 1rem;
	/*
	display: none;
	*/
}

.params {
	margin: 1rem;
	margin-left: 0;
}

.parts {
	border: 1px solid #000;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

fieldset {
	margin-bottom: 1rem;
}

.question_wrapper {
	/*
	border: 1px solid orange;
	*/
	margin: 1rem;
}
.answers_wrapper {
	width: 40rem;
	flex-wrap: wrap;
	/*
	padding: 0.5rem 0.5rem 0 0.5rem;
	*/
	margin-bottom: 0.5rem;
}

.answer_btn_wrapper {
	padding: 0.5rem;
	width: 50%;
	box-sizing: border-box;
}
.answer_btn {
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	font-weight: bold;
}

.question_title {
	width: 100%;
}
