body {
	margin: 0;
}
.main {
}
#can {
	border: 1px solid #a73;
}

.sticky {
	position: sticky;
	top: 0;
}

.question_form {
	width: 24rem;
}

h1 {
	margin: 0;
}
h3 {
	margin: 0;
}
p {
	margin: 0;
}

main {
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.between {
	align-items: space-between;
	justify-content: space-between;
}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.canvas_wrapper {
	margin: 1rem;
}

.params {
	margin: 1rem;
	margin-left: 0;
}

.parts {
	border: 1px solid #000;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

fieldset {
	margin-bottom: 1rem;
}

.question_wrapper {
	border: 1px solid orange;
	margin: 1rem;
}
.answers_wrapper {
	width: 20rem;
	padding: 0.5rem 0.5rem 0 0.5rem;
}

.answers_wrapper>button {
	margin-bottom: 0.5rem;
}
