body {
	margin: 0;
}
#can {
	border: 1px solid #000;
}
#can2 {
	border: 1px solid #000;
	position: sticky;
	top: 0;
}

h1 {
	margin: 0;
}
p {
	margin: 0;
}

main {
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.between {
	align-items: space-between;
	justify-content: space-between;
}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.canvas_wrapper {
	margin: 1rem;
}

.params {
	margin: 1rem;
	margin-left: 0;
}

.parts {
	border: 1px solid #000;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

fieldset {
	margin-bottom: 1rem;
}
