body {
	margin: 0;
}
.main {
}
#can {
	border: 1px solid #a73;
}

.sticky {
	position: sticky;
	top: 0;
}

.question_form {
	width: 100%;
}

h1 {
	margin: 0;
}
h2 {
	margin: 0.5rem;
}
p {
	margin: 0;
}

main {
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.between {
	align-items: space-between;
	justify-content: space-between;
}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.canvas_wrapper {
	margin: 1rem;
}

.params {
	margin: 1rem;
	margin-left: 0;
}

.parts {
	border: 1px solid #000;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

fieldset {
	margin-bottom: 1rem;
}

.question_wrapper {
	border: 1px solid orange;
	margin: 1rem;
}
.answers_wrapper {
	width: 40rem;
	flex-wrap: wrap;
	/*
	padding: 0.5rem 0.5rem 0 0.5rem;
	*/
	margin-bottom: 0.5rem;
}

.answer_btn_wrapper {
	padding: 0.5rem;
	width: 50%;
	box-sizing: border-box;
}
.answer_btn {
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
	font-weight: bold;
}

.question_title {
	width: 100%;
}
